* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    display: flex;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    background-color: rgba(255, 103, 103, 0.4);
    width: 100%;
}

.logo {
    width: 30px;
    height: auto;
    background-color: rgba(26, 26, 32, 0.3);
}

.logo-text {
    font-size: 20px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(151, 160, 255);
    padding-left: 8px;
}